<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
</head>
<body>
	<h1>AGGIUNGI UN DRINK ALL' ELENCO</h1>
	
	<h2>ERRORS</h2>
		<li
			th:each = "error : ${errors}"
			th:object = "${error}"
		>
			[[*{defaultMessage}]]
		</li>
	<form 
		method="POST" 
		action="/drink/create"
		th:object="${drink}" >
	
		<label>Nome drinks</label>
		<input type="text" name="nome" th:field="*{nome}">
		<br>
		<label>Descrizione del drink</label>
		<input type="text" name="descizione" th:field="*{descrizione}">
		<br>
		<label>Prezzo</label>
		<input type="number" name="prezzo" th:field="*{prezzo}">
		<br>
		<input type="submit" value="CREATE">
	
	</form>
</body>
</html>