<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>modifica</h1>
	<form 
		method="POST" 
		action="/drink/update"
		th:object="${drink}" >
		
		<input type="text" name="id" th:field="*{id}" style="display:none">
		
		<label>Nome pizza</label>
		<input type="text" name="nome" th:field="*{nome}">
		<br>
		<label>Descrizione del drink</label>
		<input type="text" name="descizione" th:field="*{descrizione}">
		<br>
		<label>Prezzo</label>
		<input type="number" name="prezzo" th:field="*{prezzo}">
		<br>
		<input type="submit" value="UPDATE">
</body>
</html>