<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>modifica</h1>
	
	<h2>ERRORS</h2>
		<li
			th:each = "error : ${errors}"
			th:object = "${error}"
		>
			[[*{defaultMessage}]]
		</li>
	<form 
		method="POST" 
		action="/pizza/update"
		th:object="${pizza}" >
		
		<input type="text" name="id" th:field="*{id}" style="display:none">
		
		<label>Nome pizza</label>
		<input type="text" name="nome" th:field="*{nome}">
		<br>
		<label>Descrizione della pizza</label>
		<input type="text" name="descizione" th:field="*{descrizione}">
		<br>
		<label>Prezzo</label>
		<input type="number" name="prezzo" th:field="*{prezzo}">
		<br>
		<input type="submit" value="UPDATE">
	
	</form>
</body>
</html>